.subject-pills {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.subject-pill {
    display: inline-block;
    background-color: rgba(183, 7, 95, 0.3);
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #B7075F;
    font-weight: bold;
}

h3 {
    font-size: 26px;
    color: #3D3C3D;
    text-align: left;
}

h2 {
    font-size: 20px;
    color: #3D3C3D;
    text-align: left;
}

.book-detail {
    padding-top: 10px;
    width: 75%

}

.backbutton-title {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    align-items: center;

}

.back-button {
    padding: 10px 15px;
    background-color: #B7075F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button .MuiSvgIcon-root {
    margin-right: 1px;
}

.more-link {
    color: #B7075F;
    text-decoration: underline;
    font-weight: bold;
}

.more-link-container {
    margin-top: 25px;
    margin-bottom: 25px;

}

.more-link:hover {
    opacity: 0.8;
}