.subject-pills {
    display: flex; /* This will layout the pills in a row */
    gap: 8px; /* Adjust the gap between the pills */
    flex-wrap: wrap; /* This will allow the pills to wrap to the next line if they don't fit */
}

.subject-pill {
    display: inline-block;
    background-color: rgba(183, 7, 95, 0.3); /* Light translucent pink */
    border-radius: 15px; /* Rounded corners for the pill shape */
    padding: 5px 10px; /* Padding inside the pills */
    margin-right: 5px; /* Margin between pills */
    margin-bottom: 5px; /* Margin between lines of pills if they wrap */
    color: #B7075F; /* Text color could be the original pink for contrast */
    font-weight: bold;
}

h3 {
    font-size: 26px;
    color: #3D3C3D;
    text-align: left;
}

h2 {
    font-size: 20px;
    color: #3D3C3D;
    text-align: left;
}

.book-detail {
    padding-top: 20px;
    width: 75%

}

.backbutton-title {
    display: flex; /* This will layout the pills in a row */
    gap: 18px; /* Adjust the gap between the pills */
    flex-wrap: wrap; /* This will allow the pills to wrap to the next line if they don't fit */
    align-items: center; /* Align items vertically in the center */

}

.back-button {
    padding: 10px 15px;
    background-color: #B7075F;
    color: white; /* This sets the text and icon color to white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Aligns icon and text horizontally */
    align-items: center; /* Centers icon and text vertically */
    justify-content: center; /* Centers content in the button */
}

.back-button .MuiSvgIcon-root { /* Targeting Material-UI icons within the button */
    margin-right: 1px; /* Add some space between the icon and the text */
}

.more-link {
    color: #B7075F; /* Pink color */
    margin-bottom: 10px; /* Space between title and author */
    text-decoration: underline;
    }

.more-link:hover {
    opacity: 0.8; /* Slightly transparent on hover */
}