/* Apply to the body of your document */
body {
    background-color: #FBF9FA;
}

/* Apply the background color and ensure full width */
.main-content {
    background-color: #FBF9FA; /* This might be redundant if the body has the same color */
    width: 100%;
    padding: 20px; /* Leave in as aligns with Header Open Library title */
    box-sizing: border-box; /* Include padding in width calculation */
    margin-left: 20px;
    padding-top: 125px; /* Moves the Search below the header */
}

h3 {
    font-size: 26px;
    color: #3D3C3D;
    text-align: left;
}

.search-container h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.search-description p:last-child {
    margin-bottom: 2em;
}
