.editions-info {
    margin-top: 20px;
    margin-bottom: 10px
}

.pagination {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.pagination-button {
    padding: 5px 10px;
    background-color: #B7075F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;

}

.pagination-button:disabled {
    background-color: #E8D4E3;
    color: #ccc;
    cursor: default;
}

.pagination-button svg {
    font-size: 1rem;
}

