.book-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 5px;
    transition: box-shadow 0.3s ease;
    width:75%;

}

.book-meta {
    display: flex;
    justify-content: space-between;
}

.book-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-title {
    margin: 0;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.book-author, .book-editions {
    margin: 0;
    color: #777;
    font-size: 1rem;
}

.book-link {
    color: #B7075F;
}

.book-link:hover {
    opacity: 0.8;
}

.book-editions {
    margin-left: auto;
    padding-right: 10px;
}